@import "retro.css/css/index.min.css";

.app {
  padding: 20px;
  margin: 20px;
  background-color: #c1b8a7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.nodes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medincine-title {
  margin-right: 1rem;
  color: #6f5643
}

li {
  color: #6f5643;
  font-weight: 600;
}